# Terraform state files
*.tfstate
*.tfstate.backup

# Terraform crash log
crash.log

# Terraform CLI metadata
.terraform/
.terraform.lock.hcl

# Sensitive files
*.pem
*.pub

# User-defined variable files
terraform.tfvars
terraform.tfvars.json

# Editor / system files
.vscode/
.idea/
.DS_Store
*.code-workspace